<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="nuget-unstable" value="https://www.myget.org/F/gl-unstable/api/v3/index.json"/>
        <!-- nuget.postsharp.net requires a VPN connection -->
        <add key="proget" value="https://nuget.postsharp.net/nuget/caravela/" />
    </packageSources>
</configuration>